body {
    font-family: Arial;
    text-align: center;
    background-color: #f0f0f0;
}

h1, h2 {
    color: darkblue;
}

.vissza {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    background-color: lightblue;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px;
    margin: 5px;
    background-color: lightblue;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

li {
    margin: 10px;
    background: white;
    padding: 10px;
}
